@CHARSET "ISO-8859-1";
body{
	background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
    background-repeat:no-repeat;
}
form{
	padding:50px;
	border:4px solid #111;
	text-align:center;
	position:relative;
	left:470px;
	top:100px;
	font-family:Aladin;
	font-size:25px;
}
input[type=text], input[type=number]{
	background-color:yellow;
}
input[type=submit]{
	background-color:#BBF0FB;
	font-size:25px;
	font-family:Aladin;
}
